/.idea/
/nbproject/
*.DS_Store
*.txt.user
/.vscode/
/cmake-build-debug/
*.project
distr/bin/libbroker.dll
distr/lib/libbroker.exp
distr/lib/libupmq.dll
distr/lib/libupmq.exp
distr/lib/libupmq.ilk
distr/lib/simpleconsumer.exp
distr/lib/simpleproducer.exp
/libcds/
/build-eclipse/
VERSION.txt
COMMIT.txt
/build/
/cmake-build-debug-x64/
/.kdev4/
*.kdev4
/kdevelop-build/
/cmake-build-debug_x86/
/cmake-build-release/
/cmake-build-debug_72/
/cmake-build-debug_asan/
/cmake-build-debug-llvm/
/cmake-vs-build/
/cmake-vs-x64-build/
/.vs/
/cmake-build/
/cmake-Debug-build/
/cmake-Release-build/
/cmake-build-debug-cygwin/
/cmake-build-release-cygwin/
/cmake-build-debug-system/
/cmake-build-release-system/
/cmake-build-relwithdebinfo-system/
/cmake-build-debug-wsl/
/cmake-build-release-wsl/
/cmake-build-debug-msvc/
/cmake-build-debug-wsl-clang-analyze/
/cmake-build-relwithdebinfo/
/cmake-build-debug-xcode/
/cmake-build-xcode/
